@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

table[role="grid"] {
  width: 100%; /* Ensure the table takes the full width of its container */
  max-width: 100%; /* Prevent the table from exceeding its container */
  overflow-x: hidden; /* Prevent horizontal overflow */
  table-layout: fixed; /* Ensure consistent column widths */
}

table[role="grid"] th,
table[role="grid"] td {
  word-wrap: break-word; /* Prevent content from overflowing cells */
  text-align: center; /* Center the text in the cells */
}




